name: kafka

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/kafka.yaml'
      - '.nais/kafka/**'

permissions:
  id-token: write

jobs:
  deploy-kafka-huskelapp-dev:
    name: Deploy Kafka topics to dev-gcp
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Deploy huskelapp topic to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/kafka/huskelapp.yaml
          VARS: .nais/kafka/dev.json

  deploy-kafka-huskelapp-prod:
    name: Deploy Kafka topics to prod-gcp
    needs: deploy-kafka-huskelapp-dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Deploy huskelapp topic to prod
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/kafka/huskelapp.yaml
          VARS: .nais/kafka/prod.json
